@page "/editor"

<div class="container-fluid d-flex flex-column" style="height: 100vh">
    <!-- Панель инструментов -->
    <Toolbar 
        onTextAdded="AddTextBlock" 
        onRectangleAdded="AddRectangle" 
        onCircleAdded="AddCircle" 
        onPresenterModeToggle="TogglePresenterMode" />

    <div class="row flex-grow-1">
        <!-- Левая панель: Миниатюры слайдов -->
        <div class="col-2 mt-3">
            <SlidesPanel slides="slides" onSlideSelected="SelectSlide" onSlideAdded="AddSlide" selectedSlide="selectedSlide"/>
        </div>

        <!-- Центральная панель: Редактор слайдов -->
        <div class="col-8">
            <SlideEditor />
        </div>

        <!-- Правая панель: Пользователи -->
        <div class="col-2 mt-3">
            <UsersPanel users="users" onUserRoleChanged="ChangeUserRole" />
        </div>
    </div>
</div>

<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script src="js/editor.js"></script>
